.DS_Store
/build/
/bin/
/obj/
.netcoredbg_hist
/.code-server/
/doc/prompt.log
/code-snippets/Greeter/Client/bin/
/code-snippets/Greeter/Client/obj/
/code-snippets/GrpcRawClient/bin/
/code-snippets/GrpcRawClient/obj/
/.claude/
